* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
  margin: 0px;
  background-color: #FFF;
}

a:link{
	text-decoration: none;
}

@keyframes blink {
  50% { opacity: 0; }
}

@keyframes opacity {
	0% { opacity: 0; }
	100% {opacity: 1;}
}

@keyframes spin {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}

	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}

	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

/******** IE *******/

@-ms-keyframes tada {
  0% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-ms-keyframes wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}

	30% {
		-ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	45% {
		-ms-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-ms-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}

	75% {
		-ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}

	100% {
		-ms-transform: none;
		transform: none;
	}
}

.text-black-h2{
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	padding-bottom: 40px;

}

.text-white-h2{
	font-family: "Open Sans", sans-serif;
	color: #FFF;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	padding-bottom: 40px;

}

.text-black-h3{
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;

}



.header > .img-portada{

	width: 100%;
  height: 100vh;
  background-image: url('../images/portada1.jpg');
  overflow: hidden;
  background-size: 100% 100%;
  background-position: 58% 78%;
  background-repeat: no-repeat;

}

.header > .img-portada > .name{
  position: relative;
  text-align: center;
  font-size: 50px;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  top: 280px;
	-webkit-animation-name: wobble;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 3s;
	-ms-animation-name: wobble;
	-ms-animation-timing-function: linear;
	-ms-animation-duration: 3s;
 }


.header > .img-portada > .description{
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #FFF;
  top: 270px;
	-webkit-animation-name: wobble;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 3s;
	-ms-animation-name: wobble;
	-ms-animation-timing-function: linear;
	-ms-animation-duration: 3s;
	}

.navbar{
  width: 100%;
  background-color: #3A3E3E;
	opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 1000;
	-webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.48);
	box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.48);
}

.navbar:hover{
	opacity: 1;
	transition: 0.5s;
}

.navbar > .title{
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  display: inline-block;
  position: left;
  color: #FFF;
  text-decoration: none;
  left: 20px;
}


.navbar > .navbar-list{
  list-style-type: none;
  margin: 0;
  float: right;
  font-size: 0;
}

.navbar > .navbar-list > .navbar-item{
  display: inline-block;
  font-size: 16px;
}
.navbar > .navbar-list > .navbar-item > .navbar-link.active {
	color: #FFF;
	opacity: 0.4;
}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover{
	color: #FFF;
	opacity: 0.4;
	transition: 0.5s;

}

.navbar > .navbar-list > .navbar-item > .navbar-link{
  font-family: "Open Sans", sans-serif;
  display:inline-block;
  text-decoration: none;
  padding: 20px;
  color: #FFF;
}


.footer{
  font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
  color: #3A3E3E;
  width: 100%;
  background-color: #f9f9f9;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
	top:100%;

}
.footer2{
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
  color: #f9f9f9;
  width: 100%;
  background-color: #3A3E3E;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
	top:100%;
}

.photo-me{
	position: relative;
	left: -12px;
  width: 400px;
  height: 300px;
}
.photo-me:hover{
	-webkit-animation-name: tada;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
	-ms-animation-name: tada;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 3s;
}

.resume{

  text-align: center;
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}

.resume-experience{


	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}



.resume-position{
	position: relative;
	right: -9%;
}

.section-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.studies{
	width: 100%;
	height: 500px;
	background-color: #f9f9f9;
}

.studies-list{
	list-style-type: none;
	line-height: 2;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
}

.col-4 > .content-studies > ul.studies-list{
	padding: 0;
}

ul.studies-list li{
	padding-bottom: 4ex;
}


.png-studies-1{
	width: 226px;
	height: 226px;
	background-image: url("../images/universidad.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	left:  87px;
	top:100px;
	margin: 0;
	/*animation: opacity 3s linear infinite;*/

}

.png-studies-2{
	width: 226px;
	height: 226px;
	background-image: url("../images/coding.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	left: 87px;
	top:100px;
	margin: 0;
	/*animation: opacity 3s linear infinite;*/
}




.experience{
	width: 100%;
	background-color: #FFF;


}

.about-me{
	width: 100%;
	height: auto;
	background-color: #353c3c;
}



.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.material-icons.md-48 {
	font-size: 48px;
	float: left;
	text-align: center;
	color: #3A3E3E;
}

.list-icons li{
	margin: 0 0 60px;
	display: block;
}

.contact-icons li{
	display: inline;

}
.content-experience{
	width: 100%;
	padding-left: 80px;
}

.menu-contact > .icon:hover{
	opacity: none;
}

.center{
	text-align: center;
}



.div-btn-scroll-down{
	position: absolute;
	bottom: 20px;
	text-align: center;
}

.div-btn-scroll-up{
	background-color: #353c3c;
	text-align: center;
	padding-bottom: 20px;
}

.btn-scroll-down:hover{
	opacity: 1;
	transition: 0.5s;
}

.btn-scroll-up:hover{
	transition: 0.5s;
	opacity: 1;
}
.btn-scroll-down{
	opacity: 0.4;
}

.btn-scroll-up{
	opacity: 0.4;
}


.menu-contact{
	background-color: rgba(58, 62, 62, .4);
	position: fixed;
	width: auto;
	height: auto;
	border-radius: 10px 10px;
	text-align: center;
	padding: 10px;

}

.animation-ideas{

animation: spin 15s linear infinite;*/
}
.container-img{
	position: relative;
	text-align: center;
}

.boy-programmer{
	position: absolute;
	top: 30%;
	right: 43%;
	text-align: center;
}

.contact{
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 90px;
}

.form{
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}

input {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.alert-msg{
	font-family: "Open Sans", sans-serif;
	color: red;
	font-size: 16px;
}
.input-form, .btn-form-row{
	padding:10px 10px 10px 10px;
}


.button {
  background-color: #4CAF50;
	box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.06);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7px;
}

.icon-facebook, .icon-github, .icon-email, .icon-twitter, .icon-hide, .icon-linkedin, .icon-show{
	opacity: 0.4;
}

.icon-facebook:hover, .icon-github:hover, .icon-email:hover, .icon-twitter:hover, .icon-hide:hover, .icon-linkedin:hover, .icon-show:hover{
	opacity: 1;
	transition: 0.5s;
}


.form-2 > textarea {
 border-radius: 7px;
 box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.06);
 border: 1px solid #e2e6e6;
 margin: 10px 0 10px 50px;
 font-family: 'Open Sans', sans-serif;
 color: #3A3E3E;
 font-size: 14px;
 outline: none;
 width: 395px;
 height: 100px;
}

form .design-input-1{
	border-radius: 7px;
  box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #e2e6e6;
	margin-left: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #3A3E3E;
  font-size: 14px;
}

form .design-input-2{
	border-radius: 7px;
  box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #e2e6e6;
  margin: 10px 0 0px 50px;
  font-family: 'Open Sans', sans-serif;
  color: #3A3E3E;
  font-size: 14px;
}



#text{
	border-radius: 7px;
  box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #e2e6e6;
  font-family: 'Open Sans', sans-serif;
  color: #3A3E3E;
  font-size: 14px;
  outline: none;
  width: 395px;
  height: 100px;
 }



.form-2 > span.contador {
	font-family: "Open Sans", sans-serif;
  color: #3A3E3E;
  font-size: 10px;
}

.form-2 > p.info {
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-size: 13px;
	margin: 0;
}
.form-2 > p.info > span {
 color: #3A3E3E;
}

#sendNewComment {
 cursor: pointer;
 box-shadow:  0px 2px 11px 0px rgba(0, 0, 0, 0.06);
 margin-right: 10px;
 border: 1px solid #A8F1FF;
 border-radius: 7px;
 background-color:#0093B0;
 color: #fff;
 float: right;
 padding: 10px;
}

#commentsContainer{
	font-family: "Open Sans", sans-serif;
	color: #3A3E3E;
	font-size: 14px;
	list-style:  none;
	margin: 10px 0px 10px 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#li-comment{
	margin: 0px 0px 20px 0px;
	line-height: 50px;
	border-bottom: 1px dashed #E0E0E0;
}

#li-name{
	color: #0093B0;
	font-size: 20px;
}

#commentsContainer #li-comment  button {
	margin-left: 15px;
	border-radius: 20px;
	background-color: #ff0000;
	text-decoration: none;
	border: none;
	color: #3A3E3E;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.5s;
	}

#commentsContainer #li-comment  button:hover {
	color: white;
}


.loader{
	position: relative;
  left: 225px;
	border: 5px solid #f3f3f3;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
